# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Optional npm cache directory
.npm
.env
.env.production
.env.staging
.env.development
# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Logs
logs/
*.log
*.log.*

# Dependency directories
jspm_packages/
bower_components/

# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next/
out/

# Build output
dist/
build/

# Coverage directory used by testing tools
coverage/

# Docker files
Dockerfile
Dockerfile.*

# Miscellaneous

.idea/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# Linux files
*~

# Others
*.swp
*.lock
*.pid
*.seed
*.pid.lock
*.gz

# Sentry Config File
.sentryclirc

.vercel
